option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 2000
  aws:elasticbeanstalk:application:environment:
    BUNDLE_PATH: "vendor/bundle"
    BUNDLE_WITHOUT: "test:development"
    BUNDLE_DISABLE_SHARED_GEMS: 1
    RAILS_SKIP_MIGRATIONS: true
    RAILS_SKIP_ASSET_COMPILATION: true
    LOGGING: debug

packages:
  yum:
    git: []
    curl: []
    wget: []
    openssl-devel: []
    postgresql94-devel: []

commands:
  01_mkdir_logs:
    command: "sudo mkdir -p /var/app/current/log/"
  02_chmod_logs:
    command: "sudo chown webapp:webapp -R /var/app/current/log/"
    ignoreErrors: true
  03_chmod_log_dir:
    command: "sudo chmod 0664 -R /var/app/current/log/"
    ignoreErrors: true
  04_chown_current:
    command: "sudo chown webapp:webapp -R /var/app/current/"
    ignoreErrors: true
  05_chmod_current:
    command: "sudo chmod 0755 -R /var/app/current/"
    ignoreErrors: true
  06_chown_current:
    command: "sudo chown webapp:webapp -R /var/app/ondeck/"
    ignoreErrors: true
  07_chown_current:
    command: "sudo chmod 0644 -R /var/app/ondeck/"
    ignoreErrors: true
container_commands:
  15_config_nokogiri:
    command: "bundle config build.nokogiri --use-system-libraries"
  16_bundle_install:
    command: "bundle install"
  20_db_migrate:
    command: "bundle exec rails db:migrate"
  21_db_seed:
    command: "bundle exec rails db:seed"
